<% layout('./layout/boiler-plate') %>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <img src="/images/Snapchat-1283668516.jpg" class="rounded float-end" width="150" height="300" alt="">
            <h1 class="display-5 fw-bold">Kartik Agarwal</h1>
            <br />
            <p class="col-md-8 fs-4">Python Developer | Machine Learning | Deep Learning | Competitive Programmer | C++
                Programmer | SWAG KiiT | New at Web+Android</p>
            <br />
            <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="modal"
                data-bs-target="#aboutmodal">About Me</button>


            <!-- Modal -->
            <div class="modal fade shadow" id="aboutmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">About Me</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body shadow-lg">
                            <p>Hi!</p>
                            <p>My name is Kartik, currently earning my Bachelor of Technology degree from KIIT Deemed to be
                                University.</p>
                            <p>I am a Machine and Deep Learning Engineer and am gaining experience with each passing day.😀</p>        
                            <p>I am also a Python Developer . I recently developed a Tkinter GUI Desktop Application with
                                multithreading and MongoDB support</p>
                            <p>You can find me on GitHub By userid 'CodingBlood'</p>
                            <p>I am also an Competitive Programmer. which I do through C++ (basically first language I
                                learned as a hobby, which paid off today😜).You can find me on Codeforces by userID
                                'parinda'</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>
<h1>HI</h1>